.header {
    grid-area: h;
    background-color: lightgrey;
    border-radius: 30px;
    max-height: 200px;
}

.header img {
    width: auto;
    height: 70px;
    border-radius: 100%;
    margin-left: 100px;
    margin-top: 15px;
}

.fir {
    background-color: aliceblue;
}

.LoginBlock {
    float: right;
}

.LoginBlock a {
    color: bisque;
}