.App {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 6fr 1fr;
    grid-template-rows: 200px 9fr;
    background-color: azure;
    grid-template-areas:
    ". h h ."
    ". n c .";
}

.AppContent {
    grid-area: c;
    border-radius: 30px;
    background-color: lightgrey;
}